@import "tailwindcss";

@theme {
	--color-kahoot-purple: #46178f;
	--color-kahoot-blue-light: #1368ce;
	--color-kahoot-blue-dark: #1260be;
	--color-kahoot-red-light: #e21b3c;
	--color-kahoot-red-dark: #d01937;
	--color-kahoot-yellow-light: #d89e00;
	--color-kahoot-yellow-dark: #c79200;
	--color-kahoot-green-light: #26890c;
	--color-kahoot-green-dark: #237e0b;
	--color-kahoot-teal-light: #0ca3a3;
	--color-kahoot-teal-dark: #069696;
	--color-kahoot-gray: #6e6e6e;

	--color-background: #ffffff;
	--color-foreground: #171717;
	--color-black-soft: #333;

	--font-sans: var(--font-montserrat);

	--animate-hover-bounce: hover-bounce 200ms ease-out;

	@keyframes hover-bounce {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(0.98);
		}
		100% {
			transform: scale(1);
		}
	}
}

body {
	font-family: var(--font-sans);
}

.bg-overlay {
	@apply bg-black/70;
}
